@using Company.G02.DAL.Models
@using Company.G02.PL.Dtos
@model Employee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Update Employee</h1>
<br />
<br />
<form asp-action="Edit">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age"></span>
    <br />
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address"></span>
    <br />
    <label asp-for="Phone"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone"></span>
    <br />
    <label asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary"></span>
    <br />
    <label asp-for="IsActive"></label>
    <input type="checkbox" asp-for="IsActive" />
    <br />
    <label asp-for="IsDeleted"></label>
    <input type="checkbox" asp-for="IsDeleted" />
    <br>

    <label asp-for="CreateAt"></label>
    <input asp-for="CreateAt" class="form-control" />
    <span asp-validation-for="CreateAt"></span>
    <br />
    <label asp-for="HiringDate"></label>
    <input asp-for="HiringDate" class="form-control" />
    <span asp-validation-for="HiringDate"></span>
    <br />
    <select asp-for="DepartmentId" class="form-control">
        @foreach (var item in ViewBag.Depts)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <br />
    <button type="submit" class="btn btn-primary">Edit Employee</button>
    <a asp-action="Index" class="btn btn-warning">Back To List</a>
</form>